/* FormFirebase.css */
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  .form {
    background-color: #800080;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  /* Agrega estilos para centrar los elementos en el formulario */
  .form-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #fff;
    border-radius: 3px;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #800080;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
  }
  
  .button:hover {
    background-color: #800080;
    color: #fff;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
  }

  .google-login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff; /* Fondo blanco */
    color: #800080; /* Texto morado */
    padding: 10px;
    border: none; /* Sin borde */
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
  }
  
  .google-login-button:hover {
    background-color: #800080; /* Cambia el color de fondo al pasar el cursor a morado */
    color: #fff; /* Texto blanco */
  }
  
  
  